body {
    margin: 0;
    padding: 0;
    font-family: 'Fredericka the Great', cursive;
}
:root {
    --purple-color: #9B59B6;
    --orange-color: #e74c3c;
}
.menu-bar {
    width: 53.125rem;
    height: 3.125rem;
    background-color: rgba(155, 89, 182, 0.35);
    box-shadow: 0 0 0.625rem var(--orange-color);
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: auto;
}
.menu-bar > button {
    width: 9.375rem;
    height: 2.188rem;
    background-color: rgba(231, 76, 60, 0.4);
    margin: 0.469rem;
    border: none;
    color: #000000;
    font-size: 1.25rem;
    font-family: 'Fredericka the Great', cursive;
    flex-flow: row wrap;
}
.card {
    box-shadow: 0 0.3rem 0.5rem 0 rgba(231, 76, 60, 0.4);
    border-radius: 0.3rem;
    margin-top: 5px;
    max-width: 13.438rem;
    max-height: 13.438rem;
    overflow: hidden;
}
.container {
    padding: 0.13rem 1rem;
}
.card > img {
    width: auto;
    height: auto;
    border-radius: 50%;
}
.card-text {
    padding: 16px;
    text-align: center;
    background-color: #fff;
}